<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">Préstame</a>
  </div>

  <div class="navbar-links">
    <a routerLink="/objetos" class="nav-link">Objetos</a>

    <ng-container *ngIf="!usuarioLogueado">
      <a routerLink="/auth/login" class="nav-link">Iniciá sesión</a>
      <a routerLink="/auth/register" class="nav-link btn-register">Registrate</a>
    </ng-container>

    <ng-container *ngIf="usuarioLogueado">
      <span class="nav-user">{{ usuarioLogueado.nombre }}</span>
      <a routerLink="/mis-objetos" class="nav-link">Mis objetos</a>
      <a routerLink="/mis-prestamos" class="nav-link">Mis préstamos</a>
      <button class="nav-link btn-salir" (click)="cerrarSesion()">Salir</button>
    </ng-container>
  </div>
</nav>
