<div class="container">
  <div class="header">
    <h2>Mis objetos</h2>
    <a routerLink="/objeto-form" class="btn-publicar">+ Publicar objeto</a>
  </div>

  <p *ngIf="cargando" class="loading-message">Cargando objetos...</p>
  <p *ngIf="!cargando && objetos.length === 0" class="empty-message">No tenés objetos publicados todavía.</p>

 
  <div *ngFor="let objeto of objetos" 
      class="obj-row" 
      (click)="onRowClick(objeto)" 
      style="cursor: pointer;">
    
    <img *ngIf="objeto.imagen" [src]="objeto.imagen" class="obj-img" alt="Foto del objeto">
    
    <div class="obj-info">
      <h5>{{ objeto.titulo }}</h5>
      <small>{{ objeto.categoria }}</small>
    </div>

    
    <div class="obj-actions" (click)="$event.stopPropagation()">
      <span [class]="objeto.estado === 'disponible' ? 'badge-disponible' : 'badge-prestado'">
        {{ objeto.estado }}
      </span>

      <a [routerLink]="['/objeto-form', objeto._id]" 
        class="btn-editar" 
        (click)="$event.stopPropagation()">
        Editar
      </a>

      <button class="btn-eliminar" 
              (click)="eliminarObjeto(objeto._id!); $event.stopPropagation()">
        Eliminar
      </button>
    </div>
  </div>
</div>